
.col-sm-1{
    background-color:#ba02f2;
}

.col-sm-2{
    background-color:#be15f2;
}

.col-sm-3{
    background-color:#c93af4;
}

.col-sm-4{
    background-color:#d457f9;
}

.col-sm-6{
    background-color:#d46ff2;
}

.col-sm-8{
    background-color:#da8af2;
}

.col-sm-12{
    background-color:#e6aff7;
}